<h6 class="subtitle">genre</h6>
<div class="check-area">
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre1"><label for="genre1">thriller</label>
  </div>
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre2"><label for="genre2">horror</label>
  </div>
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre3"><label for="genre3">drama</label>
  </div>
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre4"><label for="genre4">romance</label>
  </div>
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre5"><label for="genre5">action</label>
  </div>
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre6"><label for="genre6">comedy</label>
  </div>
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre7"><label for="genre7">romantic</label>
  </div>
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre8"><label for="genre8">animation</label>
  </div>
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre9"><label for="genre9">sci-fi</label>
  </div>
  <div class="form-group">
    <input type="checkbox" name="genre" id="genre10"><label for="genre10">adventure</label>
  </div>
</div>
<div class="add-check-area">
  <a href="#0">view more <i class="plus"></i></a>
</div>
