<div class="widget-1 widget-check">
  <div class="widget-header">
    <h5 class="m-title">Filter By</h5> <a href="#0" class="clear-check">Clear All</a>
  </div>
  <div class="widget-1-body">
    <app-language-section></app-language-section>
  </div>
</div>
<div class="widget-1 widget-check">
  <div class="widget-1-body">
      <app-experience-section></app-experience-section>
  </div>
</div>
<div class="widget-1 widget-check">
  <div class="widget-1-body">
    <app-genre-section></app-genre-section>
  </div>
</div>
