<!-- ==========Header-Section========== -->
<header class="header-section" style="background-color: #0a1e5e">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo">
        <a routerLink="/home-page">
          <img src="./assets/images/logo/logo.png" alt="logo">
        </a>
      </div>
      <ul class="menu">
        <li>
          <a routerLink="/home-page" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/movies-page" routerLinkActive="active">movies</a>
        </li>
        <li>
          <a routerLink="/about-us-page" routerLinkActive="active">about us</a>
        </li>
        <li>
          <a routerLink="/contact-page" routerLinkActive="active">contact</a>
        </li>
        <li class="header-button pr-0">
          <a routerLink="/login">join us</a>
        </li>
      </ul>
      <div class="header-bar d-lg-none">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
<!-- ==========Header-Section========== -->
